body {
    text-align: center;
    background-color: black;
}

.appleimg {
    margin-top: 15%;
}

img {
    text-align: center;
    border-width: 10px;
    border-color: white;
    border-style: solid;
}

.applelink {
    text-align: center;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    border-style: solid;
    margin: 5%;
}


h1{
    color:white;
    font-family: arial;
}