html {
 background-color: rgb(55, 76, 100);   
 color: rgb(228, 255, 153);
}

body{
    text-align: center;
    font-family: times;
    background: rgb(255, 235, 184);
    color: maroon;
    margin: 5%;
    border-radius: 50%;
    border-width: 20px;
    border-color: red;
    border-style: solid;
}

h1{
    margin: 50px;
    font-size: 50px;
}

p{
   color: rgb(182, 139, 83);
   font-size: 20px;
}

img {
    height: 30%;
    width: 30%;
}

a {
    color: black;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}